<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Keolis-Digital-Solutions" data-toc-modified-id="Keolis-Digital-Solutions-1">Keolis Digital Solutions</a></span><ul class="toc-item"><li><span><a href="#Service-Delivery-Technology---Case-Exercises" data-toc-modified-id="Service-Delivery-Technology---Case-Exercises-1.1">Service Delivery Technology - Case Exercises</a></span><ul class="toc-item"><li><span><a href="#Kevin-Sun" data-toc-modified-id="Kevin-Sun-1.1.1">Kevin Sun</a></span></li></ul></li><li><span><a href="#Imports" data-toc-modified-id="Imports-1.2">Imports</a></span></li></ul></li><li><span><a href="#Challenge-1:-Trackwork-Schedules" data-toc-modified-id="Challenge-1:-Trackwork-Schedules-2">Challenge 1: Trackwork Schedules</a></span><ul class="toc-item"><li><span><a href="#Task:-Rule-that-defines-all-of-the-days-in-which-Train-608-will/won’t-be-operating" data-toc-modified-id="Task:-Rule-that-defines-all-of-the-days-in-which-Train-608-will/won’t-be-operating-2.1">Task: Rule that defines all of the days in which Train 608 will/won’t be operating</a></span><ul class="toc-item"><li><span><a href="#Answer:-weekdays-from-mid-August-to-December-except-Labor-and-Thanksgiving-Day-(10-words)" data-toc-modified-id="Answer:-weekdays-from-mid-August-to-December-except-Labor-and-Thanksgiving-Day-(10-words)-2.1.1">Answer: weekdays from mid-August to December except Labor and Thanksgiving Day (10 words)</a></span></li><li><span><a href="#Methodology:" data-toc-modified-id="Methodology:-2.1.2">Methodology:</a></span></li></ul></li></ul></li><li><span><a href="#Challenge-2:-Equipment-Cycle-Turns" data-toc-modified-id="Challenge-2:-Equipment-Cycle-Turns-3">Challenge 2: Equipment Cycle Turns</a></span><ul class="toc-item"><li><span><a href="#Task:-Answer-the-following-questions-about-actual-train-operation:" data-toc-modified-id="Task:-Answer-the-following-questions-about-actual-train-operation:-3.1">Task: Answer the following questions about actual train operation:</a></span><ul class="toc-item"><li><span><a href="#Answer:" data-toc-modified-id="Answer:-3.1.1">Answer:</a></span></li><li><span><a href="#Methodology:" data-toc-modified-id="Methodology:-3.1.2">Methodology:</a></span></li></ul></li></ul></li><li><span><a href="#Challenge-3:-HASTUS-RTC-Integration" data-toc-modified-id="Challenge-3:-HASTUS-RTC-Integration-4">Challenge 3: HASTUS-RTC Integration</a></span><ul class="toc-item"><li><span><a href="#Task:--Develop-a-script-to-parse-the-HASTUS-export-file-and-convert-the-data-into-an-RTC-.TRAIN-file-format." data-toc-modified-id="Task:--Develop-a-script-to-parse-the-HASTUS-export-file-and-convert-the-data-into-an-RTC-.TRAIN-file-format.-4.1">Task:  Develop a script to parse the HASTUS export file and convert the data into an RTC .TRAIN file format.</a></span><ul class="toc-item"><li><span><a href="#Initial-Thoughts-to-Understand-HASTUS-and-RTC-(using-the-provided-block:-(PO-813-824-823-PI))" data-toc-modified-id="Initial-Thoughts-to-Understand-HASTUS-and-RTC-(using-the-provided-block:-(PO-813-824-823-PI))-4.1.1">Initial Thoughts to Understand HASTUS and RTC (using the provided block: (PO-813-824-823-PI))</a></span></li><li><span><a href="#Methodology:" data-toc-modified-id="Methodology:-4.1.2">Methodology:</a></span></li></ul></li></ul></li><li><span><a href="#Bonus" data-toc-modified-id="Bonus-5">Bonus</a></span><ul class="toc-item"><li><span><a href="#Task:--Validate-an-equipment-cycle-from-the-HASTUS-dataset-against-the-database-of-actual-train-movement-data-at-South-Station" data-toc-modified-id="Task:--Validate-an-equipment-cycle-from-the-HASTUS-dataset-against-the-database-of-actual-train-movement-data-at-South-Station-5.1">Task:  Validate an equipment cycle from the HASTUS dataset against the database of actual train movement data at South Station</a></span><ul class="toc-item"><li><span><a href="#Methodology:" data-toc-modified-id="Methodology:-5.1.1">Methodology:</a></span></li></ul></li></ul></li></ul></div>

# Keolis Digital Solutions
## Service Delivery Technology - Case Exercises
### Kevin Sun

## Imports

In [63]:
import pandas as pd
import os
import sqlite3

# Challenge 1: Trackwork Schedules
## Task: Rule that defines all of the days in which Train 608 will/won’t be operating

---

### Answer: weekdays from mid-August to December except Labor and Thanksgiving Day (10 words)
### Methodology: 
First, loaded in all the static and realtime GTFS files. After understanding the documentation and all the fields in each static dataset, as well as exploring each dataset (after loading them in using Pandas), I determined that `trips.txt` could contain Train 608, and be a starting point to find other information. I searched trips.txt for 608, joined with/queried `calendar.txt` and `calendar_dates.txt` on `service_id` key. This information alone was able to find the date range of operations, which days, and holiday exceptions, which took up 10 words to describe already. I did not look much into the realtime files, but I assume schedule information is mostly static.

---

Detailed work and code shown below.

In [61]:
# Note: separated provided data into static and realtime folders.

static = os.listdir("data/MBTA_GTFS/static")

for i in static:
    try:
        exec(i.replace(".txt", "") +
             "_df = pd.read_csv('data/MBTA_GTFS/static/" + i + "', sep=',', header=0)")
    except:
        print("unable to read csv:", i)

/Users/ksun/Downloads/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (0,3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [55]:
trips_df.head()

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,wheelchair_accessible,trip_route_type,route_pattern_id,bikes_allowed
0,1,BUS320-hbc30017-Su-02,44921723,Harvard,NaN,0,C01-1,010070,1,NaN,1-_-0,1
1,1,BUS320-hbc30017-Su-02,44921725,Harvard,NaN,0,C01-1,010070,1,NaN,1-_-0,1
2,1,BUS320-hbc30017-Su-02,44921727,Harvard,NaN,0,C01-1,010070,1,NaN,1-_-0,1
3,1,BUS320-hbc30017-Su-02,44921729,Harvard,NaN,0,C01-3,010070,1,NaN,1-_-0,1
4,1,BUS320-hbc30017-Su-02,44921730,Harvard,NaN,0,C01-5,010070,1,NaN,1-_-0,1

Seems that `trips_df` might contain information regarding the Train 608. Let's investigate further. `service_id` identifies a set of dates when service is available for one or more routes (ID referencing `calendar` for exceptions. `trip_short_name` is public facing text used to identify the trips to riders, e.g. train number for commuter rail trips.

In [56]:
trips_df[trips_df['service_id'].str.contains('608')]

Empty DataFrame
Columns: [route_id, service_id, trip_id, trip_headsign, trip_short_name, direction_id, block_id, shape_id, wheelchair_accessible, trip_route_type, route_pattern_id, bikes_allowed]
Index: []

In [57]:
trips_df[trips_df['trip_short_name'] == 608]

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,wheelchair_accessible,trip_route_type,route_pattern_id,bikes_allowed
88821,CR-Needham,CR-Wdy-Needham-Smr-20,CR-Weekday-Summer-20-608,South Station,608.0,1,NaN,9860001,1,NaN,CR-Needham-8ccb3032-1,1

In [60]:
calendar_df[calendar_df['service_id'] == 'CR-Wdy-Needham-Smr-20']

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
60,CR-Wdy-Needham-Smr-20,1,1,1,1,1,0,0,20200813,20201218

In [62]:
calendar_dates_df[calendar_dates_df['service_id'] == 'CR-Wdy-Needham-Smr-20']

               service_id      date  exception_type      holiday_name
30  CR-Wdy-Needham-Smr-20  20200907               2         Labor Day
99  CR-Wdy-Needham-Smr-20  20201126               2  Thanksgiving Day

# Challenge 2: Equipment Cycle Turns
## Task: Answer the following questions about actual train operation:
1. From what track did Train 079 most frequently depart? (Hint: Circuit TWR-D3TK = Track 3 at South Station.)
2. Based upon the actual operation, what is the prior trip in the equipment cycle preceding Train 079? (Hint: Find the track Train 079 used and find the train number on that track immediately before Train 079.)

---

### Answer: 
1. Track 12
2. Train 016, operated by MBTA, going EAST

### Methodology: 
1. First, inspected records containing Train 079 in the `trip_data` table. After inspecting the unique values in `terminal_occupancy` to figure out what type of JOIN is suitable (turns out for the Train 079 records it was 1-to-1), joined on `trip_id` and outputted counts of `circuit` to see the most frequent track. Since Train 079 was 1-1 I did not need to worry about duplicate trip_id with different timestamps or circuits, or trips with missing records in `terminal_occupancy`.
2. There are 3 days I need to check for Train 079, which uses Track 13 on 2020-02-03 and Track 12 on 2020-02-04 and 2020-02-05. Sorting my joined table by `timestamp` and filtering to inspect the 3 track/date combination, quick inspection of the resulting tables point towards Train 016 going EAST for all three days. 
3. If the dataset was large enough, I implemented a more direct query that inserts an ID column into my temporary tables sorted by date, so that then I can select the exact rows before Train 079.

---

Detailed work and code shown below. **Note: I also used the provided SQLite Explorer to better visalize the SQL outputs since fetchall() is not visually appealing like Pandas.**

In [103]:
# Create a SQL connection to SQLite database
con = sqlite3.connect("data/Sample CETC Data.sqlite")
cur = con.cursor()

# SQL query
cur.execute('SELECT * FROM trip_data WHERE train_no="T079"')
print(cur.fetchall())

[(99, 'T079', 'MBTA', '2020-02-03', 'WEST'), (957, 'T079', 'MBTA', '2020-02-04', 'WEST'), (1775, 'T079', 'MBTA', '2020-02-05', 'WEST')]

In [72]:
cur.execute(
    'SELECT COUNT(DISTINCT trip_id), COUNT(trip_id) FROM terminal_occupancy')
print(cur.fetchall())

[(690, 744)]

In [82]:
cur.execute(
    'SELECT * FROM trip_data LEFT OUTER JOIN terminal_occupancy \
            ON trip_data.trip_id=terminal_occupancy.trip_id \
            WHERE train_no="T079"')
print(cur.fetchall())

[(99, 'T079', 'MBTA', '2020-02-03', 'WEST', 99, '2020-02-03T14:18:54-05:00', 'TWR-D13TK'), (957, 'T079', 'MBTA', '2020-02-04', 'WEST', 957, '2020-02-04T14:09:53-05:00', 'TWR-D12TK'), (1775, 'T079', 'MBTA', '2020-02-05', 'WEST', 1775, '2020-02-05T14:09:35-05:00', 'TWR-D12TK')]

In [91]:
cur.execute('WITH joined AS \
            (SELECT * FROM trip_data LEFT OUTER JOIN terminal_occupancy \
            ON trip_data.trip_id=terminal_occupancy.trip_id \
            WHERE train_no="T079") \
            SELECT * FROM joined \
            WHERE  \
            ')
print(cur.fetchall())

[('TWR-D12TK', 2), ('TWR-D13TK', 1)]

In [107]:
# Note: couldn't get these queries to work in python, but works in https://sqlitebrowser.org/
cur.execute('CREATE TABLE joined(id integer primary key autoincrement, train_no, timestamp, circuit)')
cur.execute('INSERT INTO joined(train_no, timestamp, circuit) SELECT train_no, timestamp, circuit FROM \
            (SELECT * FROM trip_data LEFT OUTER JOIN terminal_occupancy \
            ON trip_data.trip_id=terminal_occupancy.trip_id \
            ORDER BY terminal_occupancy.timestamp) \
            ')
cur.commit()
cur.execute('SELECT id, train_no, timestamp, circuit FROM joined WHERE id IN ( \
             SELECT id+1 FROM joined WHERE train_no="T079") \
            ')
print(cur.fetchall())

OperationalError: database is locked

In [108]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://i.imgur.com/rvfONo7.png")

In [102]:
# Close connection
con.close()

# Challenge 3: HASTUS-RTC Integration
## Task:  Develop a script to parse the HASTUS export file and convert the data into an RTC .TRAIN file format.

---

### Initial Thoughts to Understand HASTUS and RTC (using the provided block: (PO-813-824-823-PI))
1. First, in trying to understand the HASTUS XML, I noticed that `06/02/2020.PLC.xml` is just a reference file that provides the full name, coordinates, etc. for a stop location/identifier (e.g. SS is South Station).
2. The `RTE.xml` file provides more details, e.g. service type regular, service mode train, for each route identifier (e.g. DB, FB, GRB).
3. `PAT.xml` provides `TripPattern` info for a route/identifier, with information including direction and many `TripPatternPoints`.
4. `TRP.xml` contains trips. In the RTC file, for train symbol 813 and trip number 813, with route NEC and pattern identifier 5, the corresponding `TripPatternPoints` from PAT.xml are SS, TWR1, COV, BB, RUGG, PLAINS, FORH, FORST, HYDP, RDINT, RDVL, TSFR, RT128, ..., PROV. From TRP.xml, we can match up to nostopping: false, true, true, false, false, etc. This corresponds to the Route Node in the RTC! Similarly, scheduled arrival/departure seems to match up with PassingTime in TRP.xml.
5. There's a lot more columns and metadata in the RTC file, probably without system specs. **My below proposed methodology will help fill out certain columns of tables for each leg of the block, but not the metadata above each table.** By metadata, I mean the information such as Caboose, Suppress messages, etc. above the RTC tables.
6. `CAL.xml`, `CRW.xml`, `NDE.xml`, `NET.xml`, and `VDC.xml` are empty/don't contain info. 

### Methodology: 
1. Parse the many XML into many tables/Pandas dataframes. E.g. using a XML Python library, I would populate a `TRP` dataframe where rows are each trip, and columns are the attributes such as InternalNumber, Number, and list/array of TripStops (either make a new data structure for this or just represent a TripStop as a long string that is easily parsable.
2. Clean dataframes (e.g. text/string cleaning to remove spaces in column names and values)
3. To populate the first section of the RTC file, which is likely to be the pull-out (PO) location, search the `BLK` table for the block row with the correct Number, e.g. 813. StartPlace (figure out the english description by merging with `PLC` or querying `PLC`), StartTime, ProductiveStartPlace, and ProductiveStartTime are used for the first table of the RTC file (Route node and scheduled arrival/departure columns). Similarly, the last section of the RTC file for the pull-in (PI) location and time can be filled out. I was not able to find information in the HASTUS matching the other columns of the table, e.g. trailing patrons, departing coaches, etc.
4. Save the InternalNumber array from the `BLK` record found in 3 for the many Trips within the block. Some of the first and last trip metadata in the RTC output file can be found by querying the `TRP` table (using the InternalNumber index) for the Number and type (e.g. Pull-out). The PassingTimes for the TripStops can be used with the time stamps from `BLK` table (StartTime, ProductiveStartTime) to possibly determine dwell time (not sure if this is correct, but sometimes the times match up, sometimes they don't).
5. For each middle trip within the block from the InternalNumber array, data in the output RTC tables can be filled out similarly, except instead of the pull-in/pull-out pattern, using details/pattern identified in Initial Thoughts #4.

---

Code script is work in progress due to missing data.

# Bonus
## Task:  Validate an equipment cycle from the HASTUS dataset against the database of actual train movement data at South Station

---

### Methodology: 
0. Not sure how to actually do this validation for specifically South Station with the given data, because HASTUS has year 2000 timestamps, e.g. 2000-01-02T00:27:00.0, while SQLite has 2020 timestamps. However, I will outline my approach in theory.
1. Define metrics. I will consider trains on its cycle to be "following" their scheduled equipment plan if the timestamps in `terminal_occupancy` reported from the SQLite data are e.g. within 5 seconds of scheduled time from the HASTUS. 
2. This is a binary result, and the answer to how often trains follow their schedules can be determined by the number of trips to South Station within 5 seconds of scheduled time divided by the total number of trips to South Station.
3. To calculate this percentage above, I will need to successfully join trips from SQLite as trains are reported in South Station to the trips from HASTUS. Timestamps, although should be similar, are not exact and cannot be used as joining keys (maybe year, month, day, and hour might be used, but not more granular). One way to do this might be to convert the HASTUS to RTC using Challenge 3's script, extract the data tables (excluding metadata), filter for Route Nodes of "SouthStation", then join filtered RTC with SQLite left on Train symbol, right on `train_no` (assuming the numbering convention is same in both formats).
4. A South Station Route Node for a specific train number with scheduled arrival/departure time `x` still might have many matching entires in SQLite, so then we will utilize the year, month, day, and hour of `x` to select the closest row in SQLite.

---

Code script is work in progress.